themes {
    taylor {
        fg 169 177 214
        bg 26 27 38
        black "#24283B"
        red "#FF5F3D"
        green "#18CAE6"
        yellow 224 175 104
        blue 122 162 247
        magenta 187 154 247
        cyan "#18CAE6"
        white "#414868"
        orange "#FF8A3D"
    }
}
